<%= line_chart @themes.map { |theme|
    {name: theme.name, data: theme.tweets.group_by_day(:created_at, last: 30).count}
}, legend: :bottom %>

<h1>Themes</h1>

<%= link_to 'New Theme', new_theme_path, class: button_classes %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tweets</th>
    </tr>
  </thead>
  <tbody>
    <% @themes.each do |theme| %>
      <tr>
        <td><%= link_to theme, theme %></td>
        <td><%= theme.tweets.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
