<script type="text/javascript">
  var app = angular.module('Lexems', []);

  app.directive('themeSelector', function() {
    return {
      restrict: 'E',
      scope: {
        themesAtLevel: '=themes',
        controller: '='
      },
      templateUrl: 'theme-selector.html'
    };
  });

  app.controller('LexemsController', function LexemsController($scope, $http) {
    $http.get('<%= tweet_path(@tweet, format: :json) %>')
      .then(function (event) {
        $scope.tweet = event.data;
      });
    $http.get('<%= themes_path(format: :json) %>')
      .then(function (event) {
        $scope.themes = event.data;
      })
    $scope.select = function (lexem) {
      $scope.lexemSelected = lexem;
    };
    this.toggle = function (theme) {
      $http.post('/themes/' + theme.id + '/toggle', {
        lexem: $scope.lexemSelected.value,
        tweet: $scope.tweet.id
      } ).then(function (event) {
        $scope.tweet = event.data;
      })
    };
    this.isThemeSelected = function (theme) {
      var found = false;
      if ($scope.lexemSelected) {
        angular.forEach($scope.lexemSelected.themes, function(value, key) {
          if (theme.id === value.id) {
            found = true;
          }
        });
      }
      return found;
    };
  });

</script>


<div class="lexems mt-5" ng-app="Lexems" ng-controller="LexemsController as lexemsController" ng-cloak>
  <div class="row">
    <div class="col-md-8">
      <blockquote class="blockquote">{{ tweet.text }}</blockquote>
      <p><a ng-href="{{ tweet.account.path }}">{{ tweet.account.name }}</a></p>
      <a ng-href="{{ tweet.url }}" class="btn btn-primary btn-sm" target="_blank" rel="noreferrer">See on twitter</a>
    </div>
    <div class="col-md-4">
      <div class="themes">
        <div ng-repeat="theme in tweet.themes" class="mb-2">
          <span class="themes__theme btn btn-secondary">
            {{ theme.name }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mt-5">Lexem analysis</h2>
  <div class="row">
    <div class="col-md-8">
      <h3>Lexems</h3>
      <div  class="lexems__lexem align-top"
            ng-repeat="lexem in tweet.lexems track by lexem.index"
            ng-click="select(lexem)"
            ng-class="{
              'lexems__lexem--selected': lexem.index === lexemSelected.index,
              'lexems__lexem--with-themes': lexem.themes.length > 0
            }">
        <span class="lexems__lexem__index">{{ lexem.index }}</span>
        <span class="lexems__lexem__value">{{ lexem.value }}</span>
        <div class="lexems__lexem__themes">
          <div class="lexem__themes__theme" ng-repeat="theme in lexem.themes">
            {{ theme.name }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <script type="text/ng-template" id="theme-selector.html">
        <div  class="themes__theme"
              ng-repeat="theme in themesAtLevel track by theme.id">
          <span class="themes__theme__name btn btn-sm mb-2"
                ng-class="controller.isThemeSelected(theme) ? 'btn-secondary' : 'btn-light'"
                ng-click="controller.toggle(theme)">
            {{ theme.name }}
          </span>
          <div class="themes__theme__children" ng-show="controller.isThemeSelected(theme)">
            <theme-selector themes="theme.children" controller="controller"></theme-selector>
          </div>
      </script>
      <div ng-show="lexemSelected">
        <h3>Themes</h3>
        <theme-selector themes="themes" controller="lexemsController"></theme-selector>
      </div>
    </div>
  </div>

</div>
