.tweet
  background: white
  border: none
  .card-footer
    background: #EEEEEE

.lexems
  &__lexem
    position: relative
    display: inline-block
    border: 1px solid #999999
    padding: 10px 30px 10px 20px
    margin: 0 10px 10px 0
    opacity: 0.3
    min-height: 90px
    &--with-themes
      opacity: 1
    &--selected
      opacity: 1
      background: black
      border-color: black
      color: white
    &__index
      position: absolute
      font-size: 10px
      top: 0px
      right: 3px
    &__value
      font-size: 25px
